@charset "UTF-8";
.login-form {
    background-color: white;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button.login-button {
    width: 100%;
    font-size: 16px;
    padding: 12px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button.login-button:hover {
    background-color: #e8491d;
}